@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,500;1,800&display=swap");
* {
  /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.blue{
  background: #1A2238;
}

.main-container {
  display: block;
  position: relative;
  top: -2px;
  height: 369px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1590 369" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(26, 34, 56, 1)" d="M 0 111 C 327.6 111 491.4 149 819 149 L 819 149 L 819 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(26, 34, 56, 1)" d="M 818 149 C 1130.8 149 1287.2 91 1600 91 L 1600 91 L 1600 0 L 818 0 Z" stroke-width="0"></path> </svg>');
  background-size: cover;
  background-repeat: no-repeat;
 }
 
 @media (max-width:1599px) {
  .main-container {
    background-size: contain;
  }
 }
 
 
 


::-webkit-scrollbar {
  width: 0;
}
/*  Start Of Screen Codes  */
.header-text {
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: #212d38;
}
.main-text {
  font-size: 105px;
  display: inline;
  cursor: none;
  font-weight: 800;
  text-shadow: rgba(46, 195, 240, 0.4) 4px 4px;
  transition: 0.45s;
}
.main-text:hover {
  letter-spacing: 1px;
  text-shadow: none;
  color: aqua;
}
.about-button {
  display: inline;
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 99%;
  width: 100%;
  color: #212d38;
}
.about-button a {
  display: inline;
  padding: 10px;
  transition: 0.4s;
  font-weight: 600;
  border-radius: 9px;
  color: #212d38;
  background: #37a1e8;
  opacity: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-decoration: none;
}
.about-button a:hover {
  background: #3290d0;
}
.scrolldown-icon2 {
  left: 0;
  line-height: 30px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  bottom: 0%;
  width: 100%;
}
.content {
  margin-top: 850px;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
}
.about-container {
  margin: 40px 40px 0 40px;
  padding: 60px;
}
.about-container p {
  font-weight: 400;
}
.about-container .about-me {
  font-size: 1em;
  font-weight: auto;
  transition: 0.6s;
  cursor: default;
  text-align: justify;
  transition: 0.3s;
}
.border-about {
  background: #3498db;
  color: #212d38;
  border-radius: 10px;
  width: 700px;
  padding: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.about-me h3 {
  color: #212d38;
  text-align: center;
  font-size: 52px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.progress-bar {
  margin: 0 auto;
  background: #3498db;
  margin-top: 180px;
  border-radius: 10px;
  padding: 35px;
  max-width: 550px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}
.progress-bar progress {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.progress-bar progress label {
  display: inline;
  font-size: 20px;
}
.progress-h {
  text-align: center;
  font-size: 24px;
}
.inviting-form {
  text-decoration: #3290d0;
}
.inviting-form:hover {
  background: #3290d0;
  transition: 0.5s;
  color: #fff;
  padding: 1px;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration: none;
}
/***********progress icons*********/
#iconp1 {
  left: 12%;
  margin-top: 500px;
  position: absolute;
  transform: rotate(25deg);
}
#iconp2 {
  left: 77%;
  margin-top: 50px;
  position: absolute;
  transform: rotate(-20deg);
}
/*********progressicons****end*******/
.resume-dl {
  border-radius: 9px;
  text-align: center;
  margin-top: 25px;
}
.text-dl {
  color: #212d38;
  font-size: 19px;
  padding: 13px;
  margin-top: 10px;
}
.en-resume-button,
.fa-resume-button {
  border: #212d38 1px solid;
  opacity: 30%;
  text-decoration: none;
  background: #3598da;
  padding: 10px;
  border-radius: 5px;
  color: #212d38;
  transition: 0.4s;
}
.en-resume-button:hover,
.fa-resume-button:hover {
  background: #93d2fc;
  opacity: 100%;
}
.hr {
  width: 32%;
  margin: auto;
  margin-bottom: 40px;
}
.hr2 {
  width: 44%;
  margin: auto;
  margin-bottom: 40px;
}
.second-content-header {
  color: #212d38;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 60px;
}

/*********3dicons*********/
#icon1 {
  left: 10%;
  top: 87%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon2 {
  right: 30%;
  top: 90%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon3 {
  left: 55%;
  top: 30%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon4 {
  right: 66%;
  top: 23%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon5 {
  left: 32%;
  top: 80%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon6 {
  right: 8%;
  top: 26%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon7 {
  left: 6%;
  top: 34%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon8 {
  right: 8%;
  top: 76%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon9 {
  right: 36%;
  top: 66%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon10 {
  right: 60%;
  top: 39%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
/*********3dicons**Ending*******/
