@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,500;1,800&display=swap");
/***********CSS Reset*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*********************************/

*::selection {
  background-color: none;
  color: #48adf0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #3498db;
}

::-webkit-scrollbar {
  width: 0;
}

.header-text {
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: #212d38;
}
.main-text {
  font-size: 105px;
  display: inline;
  cursor: none;
  font-weight: 800;
  text-shadow: rgba(46, 195, 240, 0.4) 4px 4px;
  transition: 0.45s;
}
.main-text:hover {
  letter-spacing: 1px;
  text-shadow: none;
  color: aqua;
}
.about-button {
  display: inline;
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 99%;
  width: 100%;
  color: #212d38;
}
.about-button a {
  display: inline;
  padding: 10px;
  transition: 0.4s;
  font-weight: 600;
  border-radius: 9px;
  color: #212d38;
  background: #37a1e8;
  opacity: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-decoration: none;
}
.about-button a:hover {
  background: #3290d0;
}
.scrolldown-icon2 {
  left: 0;
  line-height: 30px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  bottom: 0%;
  width: 100%;
}
.content {
  margin-top: 850px;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
}
.about-container {
  margin: 40px 40px 0 40px;
  padding: 60px;
}
.about-container p {
  font-weight: 400;
}
.about-container .about-me {
  font-size: 1em;
  font-weight: auto;
  max-width: auto;
  transition: 0.6s;
  cursor: default;
  text-align: justify;
  padding: 40px;
  transition: 0.3s;
}
.about-me h3 {
  color: #212d38;
  text-align: center;
  font-size: 52px;
  margin-bottom: 20px;
}
.progress-bar {
  margin: 0 auto;
  background: #3498db;
  margin-top: 60px;
  border-radius: 10px;
  padding: 35px;
  max-width: 550px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}
.progress-bar progress {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.progress-bar progress label {
  display: inline;
  font-size: 20px;
}
.progress-h {
  text-align: center;
  font-size: 24px;
}
.inviting-form {
  text-decoration: #3290d0;
}
.inviting-form:hover {
  background: #3290d0;
  transition: 0.5s;
  color: #fff;
  padding: 1px;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration: none;
}
/***********progress icons*********/
.iconp1 {
  left: 12%;
  margin-top: 500px;
  position: absolute;
  transform: rotate(25deg);
}
.iconp2 {
  left: 77%;
  margin-top: 50px;
  position: absolute;
  transform: rotate(-20deg);
}
/*********progressicons****end*******/
.resume-dl {
  border-radius: 9px;
  text-align: center;
  margin-top: 35px;
}
.text-dl {
  color: #212d38;
  font-size: 19px;
  padding: 13px;
  margin-top: 10px;
}
.en-resume-button,
.fa-resume-button {
  text-decoration: none;
  background: #3598da;
  padding: 10px;
  border-radius: 5px;
  color: #212d38;
  transition: 0.4s;
}
.en-resume-button:hover,
.fa-resume-button:hover {
  background: #93d2fc;
}
.hr {
  width: 32%;
  margin: auto;
  margin-bottom: 40px;
}
.hr2 {
  width: 44%;
  margin: auto;
  margin-bottom: 40px;
}
.second-content-header {
  color: #212d38;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 60px;
}
/*********sections************/
.section1 {
  margin-top: 130px;
}
.section-img1 {
  margin-left: 150px;
}
.section-text1 {
  position: absolute;
  padding-left: 600px;
  margin-top: 85px;
}
.section-header1 {
  max-width: 500px;
  font-weight: 800;
  font-size: 50px;
  color: #212d38;
}
.section-p1 {
  font-weight: 400;
  font-size: 16px;
  max-width: 550px;
  text-align: justify;
  color: #212d38;
}

.section2 {
  margin-top: 770px;
}
.section-img2 {
  margin-right: 150px;
}
.section-text2 {
  position: absolute;
  padding-left: 460px;
  margin-top: 50px;
}
.section-header2 {
  max-width: 480px;
  font-weight: 800;
  font-size: 50px;
  color: #212d38;
}
.section-p2 {
  font-weight: 400;
  font-size: 16px;
  max-width: 550px;
  text-align: justify;
  color: #212d38;
}

.section3 {
  margin-top: 1420px;
}
.section-img3 {
  margin-left: 150px;
}
.section-text3 {
  position: absolute;
  padding-left: 600px;
  margin-top: 75px;
}
.section-header3 {
  max-width: 480px;
  font-weight: 800;
  font-size: 50px;
  color: #212d38;
}
.section-p3 {
  font-weight: 400;
  font-size: 16px;
  max-width: 550px;
  text-align: justify;
  color: #212d38;
}

.section4 {
  margin-top: 2050px;
}
.section-img4 {
  margin-right: 150px;
}
.section-text4 {
  position: absolute;
  padding-left: 460px;
  margin-top: 70px;
}
.section-header4 {
  max-width: 480px;
  font-weight: 800;
  font-size: 50px;
  color: #212d38;
}
.section-p4 {
  font-weight: 400;
  font-size: 16px;
  max-width: 550px;
  text-align: justify;
  color: #212d38;
}
/********sections******end*******/

/*********3dicons*********/
#icon1 {
  left: 10%;
  top: 87%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon2 {
  right: 30%;
  top: 90%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon3 {
  left: 55%;
  top: 30%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon4 {
  right: 66%;
  top: 23%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon5 {
  left: 32%;
  top: 80%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon6 {
  right: 8%;
  top: 26%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon7 {
  left: 6%;
  top: 34%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon8 {
  right: 8%;
  top: 76%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
#icon9 {
  right: 36%;
  top: 66%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(20deg);
  object-fit: cover;
}
#icon10 {
  right: 60%;
  top: 39%;
  margin-top: -100px;
  position: absolute;
  transform: rotate(-20deg);
  object-fit: cover;
}
/*********3dicons**Ending*******/
