@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;
}
body {
    background: #212024;
}
.header-text {
    color: #fff;
    text-align: center;
}
.main-text {
    font-size: 80px;
}
